/*
COLORS:

Light green: #7ed56f
Medium green: #55c57a
Dark green: #28b485

*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* 
use inheritance to let child elements of body 
got lato from google fonts
*/
body {
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.7;
    color: #777777;
    padding: 30px;
}

.header {
    height: 95vh;
    /* To specify gradient, always use background property*/
    background-image: linear-gradient(
        to right bottom,
        #7ed56fce,
        #28b485d0),
    url(../img/hero.jpg);
    background-size: cover; 
    /* -> this will cover whatever the width of the element it will try to fit the element in the box*/
    background-position: top;
    position: relative;

    clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
}

.logo-box {
    position: absolute;
    top: 40px;
    left: 40px;
}

.logo {
    height: 35px;
}

.text-box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%)
    /* the top & left are in relation to the parent element
    whereas the tranform translate is in relation to the element itself
    This makes it possible to have this element at the center
    */
}

.heading-primary {
    color: #fff;
    text-transform: uppercase;
}

.heading-primary-main {
    display: block;
    font-size: 60px;
    font-weight: 400;
    letter-spacing: 35px;

/* need these 2 properties below for animation to work */
    animation-name: moveInFromLeft;
    animation-duration: 1.2s;
    animation-timing-function: ease-out;
    /*
    animation-delay: 3s; 
    animation-iteration-count: 3;
    */
}

.heading-primary-sub {
    display: block;
    font-size: 20px;
    font-weight: 700;
    letter-spacing: 17.4px;

    animation-name: moveInFromRight;
    animation-duration: 1.2s;
    animation-timing-function: ease-out;
}

@keyframes moveInFromLeft {
    /* for animations, browers are mostly optimized for opacity & transform property */
    0% {
        opacity: 0;
        transform: translateX(-100px);
    }
    
    80% {
        transform: translateX(10px);
    }
    
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes moveInFromRight {
    /* for animations, browers are mostly optimized for opacity & transform property */
    0% {
        opacity: 0;
        transform: translateX(100px);
    }
    
    80% {
        transform: translateX(-10px);
    }
    
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}